@font-face {
    font-family: Roboto-Black;
    src: url(Fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
}

/* Basic Reset Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(27,31,36,255);
}
/* Basic Reset End*/

/* Navigation start */
#nav_container {
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

#nav_container > h1 {
    color: white;
    font-family: Roboto-Light;
}

#nav_buttons {
    display: flex;
    gap: 1%;
    list-style: none;
}

#nav_buttons > li{
    /* IMPORTANT - vertically centering the text */
    line-height: 4vh;
    height: 4vh;
    text-align: center;
    /* IMPORTANT - vertically centering the text */

    width: 6vw;
    border: 2px;
    border-style: solid;
    border-color: rgba(104,101,95,255);
    background-color: rgba(49,44,36,255);
}

#nav_buttons > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(220,219,218,255);
    font-family: Roboto-Regular;
}

#nav {
    width: 100%;
    justify-items: right;
    align-content: center;
}

#mobile_nav_menu {
    float: right;
    color: white;
    padding-right: 2%;
    padding-top: 3%;
    font-size: 30px;
    text-decoration: none;
    display: none;
}
/* Navigation end */

main > div > h1, h2, p {
    color: white;
}

main {
    display: flex;
    gap: 10vw;
    padding-top: 25vh;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#activities {
    display: grid;
    grid: repeat(2 ,1fr) / repeat(2, 1fr);
    font-family: Roboto-Thin;
    gap: 15% 5%;
    /* border-bottom: 3px;
    border-bottom-style: solid;
    border-color: white; */
    padding-bottom: 2%;
    margin-bottom: 7vh;
}

#activities > section > p {
    font-family: Roboto-Regular;
    font-size: 20px;
}

#activities > section > h2 {
    padding-bottom: 2%;
    font-size: 35px;
}

main > div > h1 {
    font-size: 60px;
    font-family: Roboto-Light;
}

#activities_container > a {
    width: 18vw;
    min-width: 240px;
    height: 6vh;
    min-height: 60px;
    display: inline-block;
    color: rgba(27,31,36,255);
    background-color: white;
    border: none;
    font-family: Roboto-Black;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 4vh;
    float: right;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

#activities_container {
    width: 45vw;
}


#white_line {
    height: 4px;
    background-color: white;
}

/* Phone portrait */
@media screen and (orientation: portrait) and (max-width: 450px){
    /* Nav bar style start */
    #nav_container {
        display: block;
        height: 6vh;
    }

    #logo {
        float: left;
    }

    #nav_buttons{
        display: none;
        width: 100%;
    }

    #mobile_nav_menu{
        display: flex;
        float: right;
    }

    #nav_buttons a {
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    #nav_buttons > li {
        width: 100%;
        height: 20%;
        line-height: 8vh; /* IMPORTANT NEEDS TO BE SAME SIZE AS PARENT CONTAINER - VERTICAL CENTER TEXT */
    }

    #nav_buttons {
        overflow: hidden;
        background-color: #333;
        position: relative;
        height: 40vh;
    }
    /* Nav bar style end */

    #activities {
        grid: repeat(4 ,1fr) / repeat(1, 1fr);
        gap: 5%;
        align-items: center;
        margin-bottom: 10vh;
    }

    #activities_container {
        width: initial;
    }

    main {
        display: block;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        text-align: center;
    }

    #activities_container > a {
        float: initial;
    }
}

/* Mobile landscape start*/
@media screen and (orientation: landscape)and (max-height: 450px){
    #nav_buttons > li {
        line-height: 9vh;
        height: 10vh;
        text-align: center;
        width: 12vw;
    }

    /* Prevent the navigation buttons from staying hidden when switching orientation after using mobile portrait hamburger nav menu */
    #nav_buttons {
        display: flex !important;
    }

    main {
        display: block;
        padding-top: 16vh;
    }

    main > div > h1 {
        justify-self: center;
    }

    #activities {
        margin-bottom: 10vh;
    }

    #activities_container {
        width: initial;
        padding-bottom: 30vh;
    }
}
/* Mobile landscape end*/

/* Tablet large portrait start*/
@media screen and (orientation: portrait) and (min-width: 451px) and (max-width: 1100px){
    /* Nav bar style start */
    #logo{
        font-size: 50px;
    }

    #nav_buttons > li > a {
        font-size: 30px;
    }

    #nav_buttons > li {
        line-height: 6vh;
        height: 6vh;
        width: 14vw;
    }
    /* Nav bar style end */

    main {
        display: block;
        justify-items: center;
        padding-top: 10vh;
    }

    #activities_container {
        width: initial;
    }

    #activities > section > p {
        font-size: 30px;
    }

    #activities > section > h2 {
        font-size: 43px;
    }

    main > div > h1 {
        font-size: 90px;
    }

    #activities_container > a {
        width: 35vw;
        font-size: 30px;
    }
 
}
/* Tablet large portrait end*/