@font-face {
    font-family: Roboto-Black;
    src: url(Fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-BlackItalic;
    src: url(Fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-BoldItalic;
    src: url(Fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(Fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(Fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(Fonts/Roboto/Roboto-Medium.ttf);

}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url(Fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(Fonts/Roboto/Roboto-ThinItalic.ttf);
}

/* Basic Reset Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(Images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(12,12,12,255);
    background-position-y: 15%;
}
/* Basic Reset End*/

/* Navigation start */
#nav_container {
    display: flex;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

#logo {
    color: white;
    font-family: Roboto-Light;
}

#nav_buttons {
    display: flex;
    gap: 1%;
    list-style: none;
}

#nav_buttons > li{
    /* IMPORTANT - vertically centering the text */
    line-height: 4vh;
    height: 4vh;
    text-align: center;
    /* IMPORTANT - vertically centering the text */

    width: 6vw;
    border: 2px;
    border-style: solid;
    border-color: rgba(104,101,95,255);
    background-color: rgba(49,44,36,255);
}

#nav_buttons > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgba(220,219,218,255);
    font-family: Roboto-Regular;
}

#nav {
    width: 100%;
    justify-items: right;
    align-content: center;
}

#mobile_nav_menu {
    float: right;
    color: white;
    padding-right: 2%;
    padding-top: 3%;
    font-size: 30px;
    text-decoration: none;
    display: none;
}
/* Navigation end */

#introduction {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 19%;
    margin-bottom: 8%;
}

#introduction > a {
    width: 12vw;
    height: 4vh;
    min-width: 200px;
    min-height: 50px;
    color: rgba(27,31,36,255);
    background-color: white;
    border: none;
    font-family: Roboto-Black;
    display: inline-block;
    text-decoration: none;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
}

#introduction > section > * {
    color: white;
}

#introduction > section > h1 {
    font-size: 50px;
    font-family: Roboto-Light;
    padding-top: 1%;
    padding-bottom: 1%;
}

#introduction > section > p {
    width: 24%;
    font-family: Roboto-Regular;
}

#title_linebreak {
    display: none;
}

/* Mobile portrait start*/
@media screen and (orientation: portrait) and (max-width: 450px){
    /* Nav bar style start */
    #nav_container {
        display: block;
        height: 6vh;
    }

    #logo {
        float: left;
    }

    #nav_buttons{
        display: none;
        width: 100%;
    }

    #mobile_nav_menu{
        display: flex;
        float: right;
    }

    #nav_buttons a {
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    #nav_buttons > li {
        width: 100%;
        height: 20%;
        line-height: 8vh; /* IMPORTANT NEEDS TO BE SAME SIZE AS PARENT CONTAINER - VERTICAL CENTER TEXT */
    }

    #nav_buttons {
        overflow: hidden;
        background-color: #333;
        position: relative;
        height: 40vh;
    }
    /* Nav bar style end */
    
    #introduction > section > p {
        width: 100%;
    }

    #introduction {
        text-align: center;
        width: 100%;
        height: 90%;
        margin-top: initial;
        align-content: center;
    }

    body {
        background-position-x: center;
    }

    html {
        height: 100%;
    }

    #background_cover {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: scroll;
    }

    #title_linebreak {
        display: initial;
    }
}
/* Mobile portrait end*/


/* Mobile landscape start*/
@media screen and (orientation: landscape)and (max-height: 450px){
    #nav_buttons > li {
        line-height: 9vh;
        height: 10vh;
        text-align: center;
        width: 12vw;
    }

    #introduction {
        margin-top: 10%;
        text-align: center;
    }

    #introduction > section > p {
        width: 75%;
        justify-self: center;
    }

    #background_cover {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh; /* Artificial padding for #introduction. If padding was applied to #introuction #background_cover would not stretch across the whole background image*/
        position: fixed;
        overflow: scroll;
    }

    /* Prevent the navigation buttons from staying hidden when switching orientation after using mobile portrait hamburger nav menu */
    #nav_buttons {
        display: flex !important;
    }
}
/* Mobile landscape end*/

/* Tablet portrait start*/
@media screen and (orientation: portrait) and (min-width: 451px) and (max-width: 1100px){
    /* Nav bar style start */
    #logo{
        font-size: 50px;
    }

    #nav_buttons > li > a {
        font-size: 30px;
    }

    #nav_buttons > li {
        line-height: 6vh;
        height: 6vh;
        width: 14vw;
    }
    /* Nav bar style end */
    
    html {
        height: 100%;
    }

    #introduction{
        font-size: 30px;
    }

    #introduction > section > p {
        width: 50%;
    }

    #introduction > a {
        width: 35vw;
        height: 6vh;
    }

    #introduction > section > h1 {
        font-size: 90px;
    }

    body {      
        background-position-x: 30%;
    }
    
}
/* Tablet portrait end*/

