#result {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  border-collapse: collapse;
}

#result thead {
  background-color: #34495e;
  color: white;
}

#result th,
#result td {
  padding: 0.5rem;
  text-align: right;
}

#result tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}