/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #474747;
}

/* Navigation Styling */
.nav_container {
    background-color: #333;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main_nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main_nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.main_nav a:hover, #logo, footer a:hover{
    color: #10ddd6;
}

#logo{
    font-size: 25px;
    float: left;
    margin-left: 2%;
}

#nav_buttons{
    margin-right: 4%;
}

#hero_image_container {
    height: 85vh;
    width: 85vw;
    margin: 7.5%;
    background-image: url(robot_hand.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

/* Tint for the image */
/* #hero_image_container::before {
    content: "";
    position: absolute;
    height: 85vh;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
} */

/* Make the text appear on top of the image tint */
#hero_image_text_container {
    position: relative;
    /* z-index: 1000; */
    padding-top: 15%;
    padding-left: 15%;
    width: 50%;
}

#header_button {
    float: right;
}

#header_content {
    background-color: rgba(73, 71, 71, 0.5);
    padding: 5%;
}

#header_title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%; 
    margin-bottom: 2%;
}

footer {
    color: white;
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.socials{
    color: white;
    font-size: 25px;
}